TestDataBuilderGenerator/TestDataBuilderGenerator.Vsix/bin/
TestDataBuilderGenerator/TestDataBuilderGenerator.Vsix/obj/
TestDataBuilderGenerator/TestDataBuilderGenerator/bin/
TestDataBuilderGenerator/TestDataBuilderGenerator/obj/
TestDataBuilderGenerator/TestDataBuilderGenerator.Test/obj/
packages/
